<html>
  <head>  
  
  
	
	
  
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="/static/js/task.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
  </head>
<body ng-app="TaskManager" ng-controller="TaskController">
  
  <br>
  <br>
  <br>
<div class="container">
	<div class="table-responsive">  
		<table>
			<tr ng-repeat ="task in tasks" >
				<td>
					<table class="table">
							<tr>
								<th>Task </th>
								<th> Parent </th>
								<th> Priority </th>
								<th> Start </th>
								<th> End </th>     
							<tr>
						
							<tr >								
								
								<td class="active" >{{task.name }}</td>
								<td class="active">{{task.parentTask.parentTaskName}}  </td>
								<td>{{task.priority }} </td>
								<td> <div ng-bind="task.startDate | date:'MM/dd/yyyy'"></div> </td>
									<td><div ng-bind="task.endDate | date:'MM/dd/yyyy'"></div></td>    
								<td>
									<td> <button type="button" class="btn btn-default active" ng-click="editTask( task )" >Edit</button> 
										| <button type="button" class="btn btn-default active" ng-click="removeTask( task )" >End</button> </td>
								 </td>
								

							</tr> 
						</table>
					</td>	
			</tr>
			

		</table>

	</div>
	
	<br>
	<br>

	<form ng-submit="submitTask()">
  
		<table>
						<tr>
							<td><mark>Task Name</mark></td>
							<td><input type="text" ng-model="pageTask.name" size="60" /></td>
						</tr>
						<tr>
							<td><mark>Parent</mark></td>
							<td><input type="text" ng-model="pageTask.parentTask.parentTaskName" size="60" /></td>
						</tr>

						<tr>
							<td> &nbsp;</td>
							<td>&nbsp;</td>
						</tr>

						<tr>
							<td><mark>Priority</mark></td>
							<Td>
							   <input type="range" name="range" ng-model="pageTask.priority" min="0"  max="60">
							   <input type="number" ng-model="pageTask.priority">
							   <br>
							 </Td>
						</tr>
						<tr>
							<td> &nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						<!--
						<tr>
							<td><mark>Priority</mark></td>
							<td><input type="text" pattern="^[0-9]+" title="must be numeric" ng-model="pageTask.priority" size="60" /></td>
						</tr>
						-->
						<tr>
							<td><mark>Start [YYYY-MM-DD]</mark></td>
							<td><input type="text" datetime="yyyy-MM-dd" ng-model="pageTask.startDate" size="60" /></td>
						</tr>
						<tr>
							<td><mark>End [YYYY-MM-DD]</mark> </td>
							<td><input type="text" ng-model="pageTask.endDate" size="60" /></td>
						</tr>
						<tr>
							<td align="center" colspan="2"><input class="btn btn-default active" type="submit" value="Update" /></td>
						</tr>
		</table>
  </form>

</div>
  
  </body>
  
  </html>